<div class="container-fluid <%= @api_colour %> text-light p-1">
    <div class="container <%= @api_colour %> p-1">
        <h1 class="display-4"><%= @final_output %></h1>
        <hr>
        <h3><%= @description %></h3>
        <a href="#" class="btn btn-primary">link</a>
    </div>
</div>
